
.animate-icon{
    opacity: 0;    
}
.animate-icon.active{
    opacity: 1;
    position: relative;
    animation: bunny 1s ease forwards;
    
}

@keyframes bunny {
    0% {
        bottom: 0px;  
        transform: rotate(0deg);      
    }       
    75%{
        bottom: 30px;
        transform: rotate(360deg);
    }

    100%{
        bottom: 0px;
        transform: rotate(360deg);
    }
}
@keyframes bunny-mobile {
    0% {
        bottom: 0px;  
        transform: rotate(0deg);      
    }       
    75%{
        bottom: 20px;
        transform: rotate(360deg);
    }

    100%{
        bottom: 0px;
        transform: rotate(360deg);
    }
}

.redes{
    position: relative;
    bottom: 0;
    transition: .3s;
    cursor: pointer;
}
.redes:hover{
    bottom: 10px
}

@media only screen and (max-width: 600px) {
    .animate-icon{
        animation: bunny-mobile 1s ease forwards !important;
    }
}
.fade {
    transition: opacity .1s linear !important; 
  }