.background-bs{
    height: 300px;
    background:  url('../images/bar_services/bg.png') no-repeat center center;
}

.content-bg-2{
    width: auto;
    position: absolute;
    top: 40%;
    right: 0;
    z-index: -100;
}
@media only screen and (max-width: 600px) {
    .content-bg-2{
        top: 80%;
        right: 50%;
        transform: translate(50%);
    }
}