@import './custom.css';
@import './header.css';
@import './figures.css';
@import './reviews.css';
@import './about_me.css';
@import './bar_services.css';
@import './cocktail_menu.css';
@import './contact.css';
@import './slider.css';
@import './animations.css';
@import './preloading.css';
@import './bar_calendar.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    background: var(--dark) !important;
    color: white !important;
    font-family: 'Poppins', sans-serif !important;
    
}
main{
    padding: 0;
}

main h1{
    margin: 0;
}