:root{
    --dark: #2E0F14;
    --red: #BA3D51;
    --dark-red: #7A2835; 
}

.bg-primary{
    background-color: var(--dark) !important;
}
.text-red{
    color: var(--red) !important
}
.bg-red{
    background-color: var(--red) !important;
}
.bg-dark-red{
    background-color: var(--dark-red) !important;
}
.bg-custom-dark{
    background-color: var(--dark) !important;
}
.border-red{
    border: 2px solid var(--red) !important;
}
ul{
    margin: 0 !important;
}

.padding-tittle{
    padding-top: 30px;
    padding-bottom: 100px;
}